[Desktop Entry]
Type=Application
Name=Kglance Preview Daemon
Exec=/usr/bin/kglance daemon
Icon=document-preview
Terminal=false
X-KDE-autostart-after=panel
