[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=previewWithRust;
X-KDE-Priority=TopLevel
Exec=kglance %F

[Desktop Action previewWithRust]
Name=Quick Preview
Icon=kglance
Exec=kglance %F
