[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=previewWithRust
X-KDE-Priority=TopLevel

[Desktop Action previewWithRust]
Name=Quick Preview
Icon=document-preview
Exec=kglance "%f"
X-KDE-Shortcuts=Meta+Space
